// Accordion Theme
// ===
//

.pw-accordion {
    border-top: 1px solid $neutral-30;
    border-bottom: 1px solid $neutral-30;
}

.pw-accordion__item {
    &:not(:last-of-type) {
        border-bottom: 1px solid $neutral-30;
    }
}

.pw-accordion__header {
    padding: $unit*1.5;
}

.pw-accordion__open-icon,
.pw-accordion__close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $unit*4;
    height: $unit*4;

    color: $brand-color;
}

.pw-accordion__inner-header {
    align-items: center;
}

.pw-accordion__title {
    font-size: $font-size+2;
    text-align: left;
}

.pw-accordion__content {
    padding: $unit*1.5 $unit*1.5 $unit*2;
}
