// Sheet
// ===

.pw-sheet {
    //
}


// Mask
// ---

.pw-sheet__mask {
    background: $neutral-70;
}


// Wrapper
// ---

.pw-sheet__wrapper {
    box-shadow: $box-shadow;
}


// Sheet Inner
// ---
//
// 1. We have fixed sheet header and footers.
//    We'll be moving the iOS scroll fix styles into `.pw-sheet__content` instead.

.pw-sheet__inner {
    overflow: hidden; // 1

    -webkit-overflow-scrolling: initial; // 1

    &::after {
        display: none; // 1
    }
}


// Sheet Content
// ---
//
// 1. Add back iOS scroll fix that was removed from `.pw-sheet__inner`

.pw-sheet__content {
    overflow-y: auto;
    flex: 1 1 auto;

    -webkit-overflow-scrolling: touch;

    &::after {
        content: '';

        display: block;
        width: 100%; // 1
        height: 1px; // 1
        margin-bottom: -1px; // 1
    }
}


// Sheet Footer
// ---
//
// 1. Currently sheet footer doesn't allow us to completely
//    override its contents. We'll hide the default sheet <h1> if its
//    not populated

.pw-sheet__footer {
    flex: 0 0 auto;

    h1:empty {
        display: none; // 1
    }
}


// States
// ---
//
// @TODO: Replace pw--no-shadow by adding a similar class (but probably
//        pw--has-shrink-to-content instead) so the shadow can be removed with
//        built-in functionality.

.pw-sheet.pw--no-shadow {
    .pw-sheet__wrapper {
        box-shadow: none;
    }
}


// Background color brand
// ---
//

.pw-sheet.pw--bg-color-brand {
    .pw-sheet__content {
        background: $brand-color;
    }
}
