// Sheet
// ===

.pw-sheet {
    //
}


// Mask
// ---

.pw-sheet__mask {
    background: $neutral-70;
}


// Wrapper
// ---

.pw-sheet__wrapper {
    box-shadow: $box-shadow;
}


// States
// ---

.pw-sheet.pw--no-shadow {
    .pw-sheet__wrapper {
        box-shadow: none;
    }
}
