// Sheet
// ===

.pw-sheet {
    //
}


// Mask
// ---

.pw-sheet__mask {
    background: $neutral-70;
}


// Wrapper
// ---

.pw-sheet__wrapper {
    box-shadow: $box-shadow;
}


// States
// ---
//
// @TODO: Replace pw--no-shadow by adding a similar class (but probably
//        pw--has-shrink-to-content instead) so the shadow can be removed with
//        built-in functionality.

.pw-sheet.pw--no-shadow {
    .pw-sheet__wrapper {
        box-shadow: none;
    }
}
