// Cart
// ===

$cart__approximate-header-height: 52px;
$cart__approximate-footer-height: 584px;

// Root
// ---
.t-cart {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}


// Empty State
// ---

.t-cart__empty {
    min-height: calc(100vh - #{$cart__approximate-header-height} - #{$cart__approximate-footer-height});
}


// Wislist Modal
// ---

.t-cart__wishlist-modal {
    .pw-sheet__inner {
        max-width: 520px;
        margin-right: auto;
        margin-left: auto;
    }
}


// Mobile Styles
// ---

@include susy-breakpoint($mobile-breakpoint, $mobile-layout) {
    .t-cart__product-list-title,
    .t-cart__summary-title {
        padding-left: $unit * 1.5;
    }

    .t-cart__summary-title {
        padding-top: $unit * 1.5;
        padding-bottom: $unit * 1.5;
    }
}


// Tablet Styles
// ---

@include susy-breakpoint($tablet-breakpoint, $tablet-layout) {
    .t-cart__summary-title {
        padding-top: $unit * 3;
        padding-bottom: $unit * 2.5;
    }
}


// Desktop Styles
// ---

@include susy-breakpoint($desktop-breakpoint, $desktop-layout) {
    .t-cart__summary-title {
        padding-top: $unit * 3;
        padding-bottom: $unit * 2.5;
    }
}
