// Product Details
// ===

.t-product-details {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}


// Price
// ---

.t-product-details__price {
    font-size: $bigger-font-size;
    line-height: $huge-line-height;
}


// Added to Cart Sheet
// ---
//
// 1. Provide the space within which the Close button with be vertically and
//    horisontally centered in order to match the mockup

.t-product-details__item-added-modal {
    .c-sheet__content {
        display: flex;
        flex-direction: column;
    }

    .pw-sheet__wrapper {
        justify-content: flex-end;
    }
}

.t-product-details__item-added-modal-close {
    width: $unit*7; // 1
    height: $unit*7; // 1
}

.t-product-details__item-added-modal-icon {
    color: $neutral-30;

    fill: $neutral-30;
}


// Nearest Stores
// ---

.t-product-details__nearest-stores {
    a {
        color: $brand-color;

        &:active,
        &:focus {
            color: $tertiary-brand-color;
        }
    }
}
