// Project-Wide Variables
// ===
//
// Edit these as needed. Some guidelines:
//
// - Names should be lowercase and dash-separated;
// - Qualifiers should be added to the beginning of related variables: use
//   `$small-font-size`, not `$font-size-small`;
// - Numeric scales should use increments of 10; these numbers are arbitrary and
//   should not map to actual values. If really necessary, additional values can
//   be added in between, e.g. $neutral-15 between 10 and 20.


// Layout
// ---

// Basic unit for spacing and alignment; 6 to 12px recommended. Apply in whole
// or half multiples.
$unit: 8px;

// Standard tap-target size
$tap-size: 44px;


// Typography
// ---
$font-family: 'Open Sans', 'Helvetica Neue', 'Roboto', sans-serif;
$header-font-family: 'Oswald', sans-serif;
$font-size: 14px;
$line-height: 20px;


// Color palette
// ---

// Neutrals
$neutral-10: #fff;
$neutral-20: #f7f7f7;
$neutral-30: #eee;
$neutral-35: #d5d5d5;
$neutral-40: #bfbfbf;
$neutral-55: #999;
$neutral-50: #696969;
$neutral-60: #333;

// Brand colors
$brand-color: #4e439b; // purple

$light-brand-color: lighten($brand-color, 15%);
$dark-brand-color: #261c67;

// Accent colors
$accent-color: #ec354e; // coral
$light-accent-color: lighten($accent-color, 15%);
$dark-accent-color: #b21c30;

// Success colors
$success-color: #10b24a; // green
$light-success-color: lighten($success-color, 15%);
$dark-success-color: darken($success-color, 15%);

// Error colors
$error-color: #dc0a3c; // red
$light-error-color: lighten($error-color, 15%);
$dark-error-color: darken($error-color, 15%);


// Appearance
// ---

$font-color: $neutral-60;

$link-color: $brand-color;
$active-link-color: $dark-accent-color;

$focus-color: $brand-color;

$border-color: $neutral-40;
$border-radius: 4px;

$input-background-color: $neutral-10;
$disabled-input-color: $neutral-55;
$disabled-input-background-color: $neutral-30;
$horizontal-input-padding: $unit;
$vertical-input-padding: $unit;

$background-color: #f7f7f7;
$overlay-color: rgba($neutral-10, 0.85);


// Layer (z-index)
// ---

// Organizes z-index usage by name. Values can be incremented/decremented
// slightly as necessary. eg. $z1-layer + 1;

$z1-depth: 1;    // background
$z2-depth: 10;   // icon or other ui element
$z3-depth: 100;  // modal shade or similar
$z4-depth: 1000; // modal dialog or similar


// Shorthand
// ---
//
// Quick ways to write properties that you re-use often.

$border: 1px solid $border-color;
$input-padding: $vertical-input-padding $horizontal-input-padding;

$box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
$inset-box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.3), inset 0 -2px 2px -2px rgba(0, 0, 0, 0.3);
$input-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.3);
