// Offline
// ===
//
// 1. Ensure offline banner appears above page content when visible
// 2. Ensure that the icon is vertically aligned in the center of the banner


// Variables
// ---


// Offline root
// ---

.c-offline {
    // Root Class. Contains all core styles, typically for the component's
    // wrapper element.
}


.t-offline-banner {
    position: fixed;
    color: $neutral-10;
    background-color: $neutral-60;
    
    z-index: $z2-depth; // 1
}

.t-offline-banner__icon {
    line-height: 0; // 2
    float: right;
}

// Modifiers
// ---
//
// .c-offline.c--modifier {
//     ...
// }


// Sub components
// ---
//
// .c-offline__sub-component {
//     ...
// }
