// Footer
// ===


// Root
// ---

.t-checkout-footer {
    background-color: $brand-color;
}


// Navigation
// ---

.t-checkout-footer__inner {
    opacity: 0.5;

    color: $neutral-00;
}

// Copyright
// ---

.t-checkout-footer__copyright {
    margin: 0;

    font-size: 12px;
    line-height: $font-size;
}

.t-checkout-footer__logo {
    width: 67px;
    height: 28px;
}

.t-checkout-footer__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
