// CheckoutShipping
// ===

.t-checkout-shipping {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}


// Progress
// ---

.t-checkout-shipping__progress {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}


// Form
// ---
//
// @TODO: Add `pw-field__label` to SDK field component

.t-checkout-shipping__form {
    .c-field__label,
    .pw-field__label {
        font-size: 15px;
    }
}


// Mobile Styles
// ---

@include susy-breakpoint($mobile-breakpoint, $mobile-layout) {
    .t-checkout-shipping__email-title {
        padding-top: $unit * 2;
    }

    .t-checkout-shipping__title {
        padding-left: $unit * 1.5;
    }
}


// Tablet Styles
// ---

@include susy-breakpoint($tablet-breakpoint, $tablet-layout) {
    .t-checkout-shipping__email-title {
        padding-top: $unit * 2;
    }
}


// Desktop Styles
// ---

@include susy-breakpoint($desktop-breakpoint, $desktop-layout) {
    .t-checkout-shipping__email-title {
        padding-top: $unit * 7;
    }
}
