// Pdp
// ===

.t-pdp {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}


// Price
// ---

.t-pdp__price {
    font-size: 24px;
    line-height: 32px;
}


// In Stock Indicator
// ---

.t-pdp__indicator {
    flex: 1 1 auto;
}


// Add to Cart Button
// ---

.t-pdp__add-to-cart .c-icon {
    width: $unit*1.5 !important;
    height: $unit*1.5 !important;
    margin-right: $unit;
}


// Added to Cart Sheet
// ---
//
// 1. Provide the space within which the Close button with be vertically and
//    horisontally centered in order to match the mockup

.t-plp__item-added-modal {
    .c-sheet__content {
        display: flex;
        flex-direction: column;
    }
}

.t-pdp__item-added-modal-close {
    width: $unit*7; // 1
    height: $unit*7; // 1
}

.t-pdp__item-added-modal-icon {
    color: $neutral-40;

    fill: $neutral-40;
}
