// Border
// ===

// Border (Width and Color)
// ---

.u-border {
    @include border(true);
}

.u-border-0 {
    @include border-0(true);
}

.u-border-top {
    @include border-top(true);
}

.u-border-start {
    @include border-start(true);
}

.u-border-bottom {
    @include border-bottom(true);
}

.u-border-end {
    @include border-end(true);
}


// Light Border (Width and Color)
// ---

.u-border-light {
    border: 1px solid $neutral-15 !important; // @TODO: Add to Spline
}

.u-border-light-top {
    border-top: 1px solid $neutral-15 !important; // @TODO: Add to Spline
}

// .u-border-light-start {
//     @include border-start(true);
// }

.u-border-light-bottom {
    border-bottom: 1px solid $neutral-15 !important; // @TODO: Add to Spline
}

// .u-border-light-end {
//     @include border-end(true);
// }


// Border (Other)
// ---

.u-border-radius {
    @include border-radius(true);
}
