// Display
// ===


// Display: Block
// ---

.u-display-block {
    display: block !important;
}


// Display: Inline Block
// ---

.u-display-inline-block {
    display: inline-block !important;
}


// Display: Inline
// ---

.u-display-inline {
    display: inline !important;
}


// Display: None
// ---

.u-display-none {
    display: none !important;
}
