// Heading
// ===

%h1,
.u-h1 {
    font-size: $huge-font-size !important;
    line-height: $huge-line-height !important;
}

%h2,
.u-h2 {
    font-size: $bigger-font-size !important;
    line-height: $bigger-line-height !important;
}

%h3,
.u-h3 {
    font-size: $big-font-size !important;
    line-height: $big-line-height !important;
}

%h4,
.u-h4 {
    font-size: $big-font-size !important;
    line-height: $big-line-height !important;
}

%h5,
.u-h5 {
    font-size: $medium-font-size !important;
    line-height: $line-height !important;
}

%h6,
.u-h6 {
    font-size: $font-size !important;
    line-height: $line-height !important;
}
