// Text utils
// ===

// All Caps
// ---
//
// Set text uppercase, letterspaced for legibility.

.u-text-all-caps {
    @include text-all-caps(true);
}


// Capitalize Text
// ---
//
// Capitalize first letter of string.

.u-text-capitalize {
    @include text-capitalize(true);
}


// Lowercase Text
// ---
//
// Lowercase all text in string.

.u-text-uppercase {
    text-transform: uppercase !important; // @TODO: add to Spline
}


// Lowercase Text
// ---
//
// Lowercase all text in string.

.u-text-lowercase {
    @include text-lowercase(true);
}


// Text Flow Alignment
// ---
//
// Writing-direction independent text alignment. For RTL stylesheets, re-define
// these styles with the opposite direction. Templates need not be changed.

.u-text-align-start {
    @include text-align-start(true);
}

.u-text-align-center {
    @include text-align-center(true);
}

.u-text-align-end {
    @include text-align-end(true);
}


// Vertical Alignment
// ---
//
// Vertical aligment of text and replaced (inline-block) elements within a line.

.u-align-middle {
    @include align-middle(true);
}

.u-align-baseline {
    @include align-baseline(true);
}


// Weights & Style
// ---

.u-text-normal {
    @include text-normal(true);
}

.u-text-bold {
    @include text-bold(true);
}

.u-text-italic {
    @include text-italic(true);
}

.u-text-quiet {
    @include text-quiet(true); // @TODO: Tweak to use a $font-size-small var

    font-size: 12px !important; // @TODO: Remove this line after above todo is done
}

.u-text-lighter {
    font-weight: 300 !important; // @TODO: Add to Spline
}

.u-text-semi-bold {
    font-weight: 600 !important; // @TODO: Add to Spline
}


// Size
// ---

.u-text-small {
    font-size: 12px !important; // @TODO: Add to spline and assign a variable
}


// Font-Family
// ---

.u-text-header-font-family {
    font-family: $header-font-family;
}


// Letter Spacing
// ---

.u-text-letter-spacing {
    letter-spacing: 1px !important; // @TODO: Add to spline
}

.u-text-letter-spacing-normal {
    letter-spacing: initial !important; // @TODO: Add to spline
}


// Line Height
// ---

.u-text-line-height-0 {
    line-height: 0 !important; // @TODO: Add to spline
}


// Font Family
// ---

.u-text-font-family {
    font-family: $font-family; // @TODO: Add to spline
}
