// IconTextButton
//
// 1) Positioning context for the component
// 2) Relative to (1)
// 2) Relative to (1)


.c-icon-text-button,
.c-icon-text-button:active,
.c-icon-text-button:focus {
    position: relative;  // 1

    width: ($unit * 6);
    height: ($unit * 6);
    margin: 0;
    padding: 0;
    border: 0;
    background: none;

    background-color: $brand-color;
    color: white;
}

.c-icon-text-button__icon {
    position: absolute;  // 2
    top: $unit;
    left: 50%;
    width: ($unit * 2);
    height: ($unit * 2);
    transform: translateX(-50%);
}

.c-icon-text-button__text {
    position: absolute; // 3
    top: $unit * 3;
    right: 0;
    left: 0;
    font-size: 11px;
    text-align: center;
}


// Modifiers


// Sub components
