// Checkout Header
// ===
//
// 1. The expected height of the site HeaderBar (.t-checkout-header__bar)
// 2. Ensure header bar appears above page content

.t-checkout-header {
    padding-top: 52px; // 1
}


// Bar
// ---

.t-checkout-header__bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z2-depth; // 2

    overflow: hidden;
    width: 100vw;

    box-shadow: $large-box-shadow;
}


// Title
// ---

.t-checkout-header__title {
    align-items: center;
    font-size: $unit*3;
    line-height: $unit*3.5;
}


// Lock icon
// ---

.t-checkout-header__icon-lock {
    width: 44px;
    height: 44px;
}
