// Home.scss
// ===

// [1] - Display box-shadow properly at bottom of container by increasing position
// context above that of the footer (.t-footer__newsletter)
// [2] - Fixes white space appearing below carousel images

.t-home {
}

.t-home__container {
    position: relative; // [1]
    background-color: $background-color;
    box-shadow: $box-shadow;
    font-family: $header-font-family;

    .c-carousel__inner {
        line-height: 0; // [2]
    }
}

.t-home__category {
    background-color: $neutral-10;
    box-shadow: $box-shadow;
}

.t-home__category-section {
    a {
        color: $neutral-60;
    }

    &:not(:first-child) {
        border-top: solid #eee 1px;
    }

    .c-list-tile__action {
        margin: $unit 0 $unit ($unit / 2);
    }

    .c-list-tile__content {
        padding: ($unit * 1.5) 0 ($unit * 1.5) ($unit * 2);
    }
}

.t-home__category-image {

}

.t-home__category-text {
    font-size: 20px;
    line-height: 25px;

    &.t-home__category-text-large {
        font-size: 24px;
    }
}
