// Home.scss
// ===


// Container
// ---
//
// 1. Display box-shadow properly at bottom of container by increasing position
//    context above that of the footer (.t-footer__newsletter)
// 2. Fixes white space appearing below carousel images

.t-home__container {
    position: relative; // 1

    background-color: $background-color;
    box-shadow: $inset-box-shadow;

    font-family: $header-font-family;

    .c-carousel__inner {
        line-height: 0; // 2
    }
}


// Category Section
// ---
//
// 1. Necessary for now because ListTile does not accept a className prop for
//    customizing the Primary Action. @TODO: fix this in the SDK

.t-home__category-section {
    a {
        color: $neutral-60; // 1
    }

    &:not(:first-child) {
        border-top: solid #eee 1px;
    }

    .c-list-tile__action {
        margin: $unit 0 $unit ($unit / 2);
    }

    .c-list-tile__content {
        padding: ($unit * 1.5) 0 ($unit * 1.5) ($unit * 2);
    }
}

.t-home__category-text {
    &.t--text-large {
        font-size: 24px;
        line-height: 25px;
    }
}
