// Home.scss
// ===

.t-home {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
    .container {
        background-color: $background-color;
    }

    .c-card {
        background-color: #FFFFFF;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
    }

    .c-card__section {
        &:not(:first-child) {
            border-top: solid #EEEEEE 1px;
        }
    }

    .c-card__text {
        color: #333333;
        font-size: 20px;
        line-height: 24px;
        &.u-text-lg {
            font-size: 24px;
        }
    }
}
