// CheckoutShipping
// ===

.t-checkout-payment {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}


// Progress
// ---

.t-checkout-payment__progress {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}


// Form
// ---
//
// @TODO: Add `pw-field__label` to SDK field component

.t-checkout-payment__form {
    .c-field__label,
    .pw-field__label {
        font-size: 15px;
    }
}

.t-checkout-payment__credit-card-hints {
    .pw-field__hint {
        display: flex;
        align-items: center;
        height: $unit * 5.5;
        padding-right: $unit;
    }
}


// Fixed Place Order
// ---

.t-checkout-payment__fixed-place-order {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    box-shadow: rgba($neutral-70, 0.15) 0 0 12px;

    transform: translateY(100%);

    transition: opacity 0.3s ease-out, transform 0.3s ease-out;

    &.t--show {
        opacity: 1;

        transform: translateY(0);
    }
}


// Mobile Styles
// ---

@include susy-breakpoint($mobile-breakpoint, $mobile-layout) {
    .t-checkout-payment__title {
        padding-left: $unit * 1.5;
    }
}


// Tablet Styles
// ---

// @include susy-breakpoint($tablet-breakpoint, $tablet-layout) {
//     //
// }


// Desktop Styles
// ---

@include susy-breakpoint($desktop-breakpoint, $desktop-layout) {
    .t-checkout-payment__fixed-place-order {
        display: none;
    }
}
