// Field
// ---
//
// 1. Keep the original font color of the label instead of error color - as per design

.c-field {
    &.c--error {
        .c-field__label {
            color: $font-color; // 1
        }
    }
}

.c-field + .c-field {
    margin-top: $unit*2;
}

// Label
// ---

.c-field__label {
    font-weight: 600;
}


// Error
// ---

.c-field__error {
    margin-top: $unit;
}


// States
// ---

.c-field.c--error {
    border-color: $error-color;
}
