// Field
// ---


.c-field {
    //
}

.c-field.c--error {
    .c-field__label {
        color: $font-color;
    }
}

.c-field + .c-field {
    margin-top: $unit*2;
}

// Label
// ---

.c-field__label {
    font-weight: 600;
}


// Error
// ---

.c-field__error {
    margin-top: $unit;
}


// States
// ---

.c-field.c--error {
    border-color: $error-color;
}
