// Field
// ---


.c-field {
    //
}

.c-field + .c-field {
    margin-top: $unit*2;
}

// Label
// ---

.c-field__label {
    font-weight: normal;
}


// Error
// ---

.c-field__error {
    color: $error-color;
}


// States
// ---

.c-field.c--error {
    border-color: $error-color;
}
