// Button Theme
// ===
//
// 1. Slightly larger than standard font size, at 15px

.c-button {
    display: inline-table;
    padding: 0;

    background: none;

    font-size: $font-size + 1; // 1
    letter-spacing: 1px;

    -webkit-appearance: none;

    &.c--is-anchor {
        display: inline-flex;
    }
}


// Inner
// ---
//
// 1. Ensures that the borderless and bordered buttons appear the same size
// 2. Match the width of the `c-button` container

.c-button__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $tap-size;
    min-height: $tap-size;
    width: 100%; // 2
    padding: $unit $unit*1.5;
    border: 1px solid transparent; // 1
}


// Themes
// ---

.c-button.c--primary {
    background-color: $accent-color;

    color: #fff;

    &:active,
    &:focus {
        background-color: $dark-accent-color;
    }
}

.c-button.c--secondary {
    background-color: $brand-color;

    color: #fff;

    &:active,
    &:focus {
        background-color: $dark-brand-color;
    }
}

.c-button.c--tertiary {
    background-color: transparent;

    color: $brand-color;

    &:active,
    &:focus {
        border-color: $dark-brand-color;

        color: $dark-brand-color;
    }

    &[disabled] {
        border-color: $neutral-40;

        color: $neutral-50;
    }

    .c-button__inner {
        border: 1px solid $brand-color;
    }
}

.c-button.c--primary,
.c-button.c--secondary {
    &[disabled] {
        background-color: $neutral-40;

        color: $neutral-50;
    }
}

.c-button.c--icon-only {
    line-height: 0;
}
