// StarRating
// ===
//
// This component displays unfilled star characters and then displays another set of
// filled in stars on top of the unfilled stars to show the current star rating. 
// Partial star ratings are not yet supported. 
// Could use something like this for a half star... clip-path: inset(0px 50% 0px 0px);
// This could be easily modified to support a hover state for an interactive version.
// All of this is based on the work of Chris Coyier.
// Original code snippet shared by Coyier here: https://css-tricks.com/star-ratings/


// Variables
// ---


// StarRating root
// ---

.c-star-rating {
    // Root Class.
    // We need to reverse the order of the child elements (the stars) as they appear in 
    // the JSX (highest star to lowest star) because we can't use CSS to select 
    // the _preceding_ children, we can only select the _succeeding_ children.
    unicode-bidi: bidi-override; // Allows us to use the direction property below
    direction: rtl; // Right-to-left
    text-align: left;
}

.c-star-rating-star {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

// Modifiers
// ---
//
.c-star-rating-star.c--filled-in:before {
  content: "\2605"; // The solid star character in Unicode
  position: absolute;
  top: 0;
  left: 0;
}


// Sub components
// ---
//
// .c-star-rating__sub-component {
//     ...
// }
