// Breadcrumbs theme
// ===
$spacing: 5px;

.c-breadcrumbs__item {
    font-size: $small-font-size;

    &:not(:last-of-type)::after {
        content: '>';

        margin-left: $spacing;

        color: $brand-color;
    }
}
