// Breadcrumbs theme
// ===

.c-breadcrumbs__item {
    font-size: $small-font-size;

    &:not(:last-of-type)::after {
        content: '>';

        margin-left: $unit/2;

        color: $brand-color;
    }
}
