// Card Input Theme
// ===

// Root
// ---
//
// 1. `pw-card-input` is used inside `c-field__input` which has `display: flex`
//    using `flex: 1 1 auto` so card input will stretch and fill the available space
// 2. Nesting classes to increase specificity to override `c-icon` styles
// 3. Override base `c-icon` styles

.pw-card-input {
    flex: 1 1 auto; // 1

    // 2
    .pw-card-input__card-icon {
        width: $tap-size; // 3
        height: $tap-size; // 3
        padding: 0; // 3
    }

    // 2
    .pw-card-input__card-icon--card {
        display: none;
    }
}

