// Header Bar
// ===

.c-header-bar {
    padding: $unit/2;

    background-color: $brand-color;

    color: $neutral-00;

    .pw-link {
        color: $neutral-00;
    }
}


// Title
// ---

.c-header-bar__title {
    line-height: 0;
}
