// Search Theme
// ===
//
// 1. Ensure search bar is above site's fixed header

.pw-search__inner {
    z-index: $z2-depth + 1; // 1
}


// Search Form
// ---

.pw-search__form {
    position: relative;
    z-index: $z1-depth + 1;
}


// Search Suggestions
// ---

.pw-search__suggestions {
    background: $neutral-00;

    &:not(.pw--is-empty) {
        animation: slide-up 0.3s ease-in 1 reverse, fadeIn 0.3s ease-out 1 forwards;
    }
}
