//Import the stylesheet from the web scaffold, to maintain consistency
@import '../../../web/app/stylesheet';

html, body, #root {
  height: 100%;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body {
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}
