// Stepper Theme
// ===
//
// 1. 44px per button - as per design

.c-stepper {
    display: flex;
    width: $tap-size*3;
    border: $border;

    input {
        border: none;

        text-align: center;
    }
}

.c-stepper__button {
    background-color: $brand-color;

    color: $neutral-10;

    &:active,
    &:focus {
        background-color: $dark-brand-color;
    }

    &[diabled] {
        background-color: $neutral-30;

        color: $neutral-40;
    }
}
