// Header
// ===

.t-header {
    //
}


// Placeholder
// ---
//
// This is a fake button to help ensure that the site logo always stays centered

.t-header__placeholder {
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
}
