// App.scss
// ===
//
// 1. `!import` here is necessary in order to override the inline style. This is
//    all part of our "Flash Of Unstyled Content" prevention strategy.

.t-app {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
    display: block !important; // 1
}


// Wrapper
// ---
//
// 1. This, combined with the flexbox classes in the template, create a sticky
//    footer effect!

.t-app__wrapper {
    min-height: 100vh; // 1
}



// Modifiers
// ---

.t-app.t-app--checkout-payment {
    background-color: $neutral-10;
}
