// Footer
// ===


// Root
// ---

.t-footer {
    //
}


// Social
// ---

.t-footer__social {
    background: $neutral-10;
    box-shadow: $inset-box-shadow;
}


// Navigation
// ---

.t-footer__navigation {
    background-color: $brand-color;

    color: #fff;
}


.t-footer__navigation-link {
    display: inline-block;
    margin-right: $unit;
    margin-left: $unit;
    padding-bottom: $unit;

    color: #fff;
    font-size: $small-font-size;
}



// Panel Newsletter
// ---

.t-footer__newsletter {
    background: #fff;
}


// Social Link
// ---

.t-footer__social-link {
    display: block;

    & + & {
        margin-left: $unit*3;
    }
}


// Copyright
// ---

.t-footer__copyright {
    margin: 0;

    color: #fff;
    font-size: $small-font-size;
    line-height: $font-size;
}
