// _product-list.scss
// ===

.t-product-list {
    //
}


// Container
// ---
//
// 1. Ensure the box-shadow at bottom of container is visible

.t-product-list__container {
    background-color: $background-color;
    box-shadow: $inset-box-shadow;
}


// Breadcrumb
// ---
//
// @TODO: Turn this into a component
//
// 1. Ensure the container only takes up this amount of vertical space

.t-product-list__breadcrumb {
    font-size: $unit * 1.5; // 1
    line-height: $unit * 1.5; // 1
}


// Product Tile
// ---
//
// 1. 172px is the minimum predicated height of the tile based on how large the
//    images are suppose to be at mobile viewport size. Avoids flash of moving content

.t-product-list__product-tile {
    min-height: $unit * 21.5; // 1
}


// Product Name
// ---

.t-product-list__product-name {
    word-break: break-word;
}


// No Results
// ---

.t-product-list__no-results-text {
    padding: ($unit * 3) ($unit * 6) ($unit * 2);
}

.t-product-list__num-results {
    font-size: $font-size + 1;
}


// Sort Filter
// ---
//
// 1. Positioned relative to the parent `.u-position-relative` container

.t-product-list__sort-select {
    color: $font-color;
}

.t-product-list__sort-icon {
    position: absolute; // 1
    top: 50%;
    right: 0;

    color: $brand-color;

    transform: translate(-50%, -40%);

    pointer-events: none;
}
