// _product-list.scss
// ===

.t-product-list {
    //
}


// Container
// ---
//
// 1. Ensure the box-shadow at bottom of container is visible

.t-product-list__container {
    background-color: $background-color;
    box-shadow: $inset-box-shadow;
}


// Breadcrumb
// ---
//
// @TODO: Turn this into a component
//
// 1. Ensure the container only takes up this amount of vertical space

.t-product-list__breadcrumb {
    font-size: $unit * 1.5; // 1
    line-height: $unit * 1.5; // 1
}


// No Results
// ---

.t-product-list__no-results-text {
    padding: ($unit * 3) ($unit * 6) ($unit * 2);
}


// Filter
// ---

.t-product-list__filter {
    width: 50%;
}


// Active Filter
// ---

.t-product-list__active-filter {
    font-size: 15px;
}


// Filter Modal
// ---

.t-product-list__filter-modal {
    min-height: calc(100vh - #{$unit * 6.5});
}

.t-product-list__filter-modal-items {
    margin: -$unit * 1.5;
}


// Sort Filter
// ---
//
// 1. Positioned relative to the parent `.u-position-relative` container

.t-product-list__sort {
    width: 50%;
}

.t-product-list__sort-select {
    color: $font-color;
}

.t-product-list__sort-icon {
    position: absolute; // 1
    top: 50%;
    right: 0;

    color: $brand-color;

    transform: translate(-50%, -40%);

    pointer-events: none;
}
