// Login
// ===

@import 'node_modules/progressive-web-sdk/dist/components/tabs/base';

.t-login {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}

// Remember Me Modal
// ---
//
// @TODO: Switch to flexbox
// 1. Absolutely position buttons to bottom of the "Remember Me" modal

.t-login__remember-me-modal {
    position: relative; // 1
}

.t-login__remember-me-button {
    position: absolute; // 1
    right: 0;
    bottom: 0;
    left: 0;

    padding: 12px;
}

// Tab Navigation
// ---

.t-login__navigation .pw-tabs__link {
    height: 48px;
    color: $neutral-70;
}

.t-login__navigation .pw-tabs__tab.pw--is-active {
    border-bottom: 2px solid $brand-color;

    .pw-tabs__link {
        font-weight: 600;
    }
}

