
.c-carousel, .carousel-item {
  height: 100%;
}

.item-title {
  margin: 10px 46px 0px 46px;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  letter-spacing: 0;
}

.item-subtitle {
  line-height: 20px;
  font-size: 14px;
  margin: 16px 42px 0px 42px;
  color: #3A3A48;
}

 .button-wrapper + .button-wrapper {
   margin-top:10px !important;
 }

.carousel-item-wrapper {
  margin: 40px 20px 0 20px;
  box-shadow: 0px 0px 1px 1px rgba(0.0, 0.0, 0.0, 0.3);
  background-color: white;
  padding: 20px;
  height: 90%;
  display: flex;
}

.pw-carousel__controls {
  padding-top: 0px;
  top: -10px;
  position: relative;
  height: 5%;
}

.c-carousel__inner {
  height: 95%;
}
