// SearchResult
// ===

.t-search-result {
    // Root Class. Contains all core styles, typically for the template's
    // wrapper element.
}

.t-search-result__container {
    background-color: $background-color;
    box-shadow: $inset-box-shadow;
}


// No Results
// ---

.t-search-result__no-results-text {
    padding: ($unit * 3) ($unit * 6) ($unit * 2);
}
