/**
 * Soft ask component for Push Messaging
 *
 * 1. Prevent the (transparent) mask from intercepting clicks
 */

.c-messaging-soft-ask {
    .pw-sheet__content {
        display: flex;
        flex-direction: column;
    }

    .pw-sheet__wrapper {
        justify-content: flex-end;
        box-shadow: none;
    }

    .pw-sheet__mask {
        pointer-events: none; // [1]
    }
}
