// Clippy
// ===
//
// Component description here


// Variables
// ---


// Clippy root
// ---
//
// 1. When switching between animations, there are a couple frames where Clippy shrinks
//    Set a minimum height to make this less noticable
// 2. Needs to be higher than the header for the sheet to work correctly

.c-clippy {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;

    min-height: 100px; // 1

    z-index: 10; // 2

    background: none;
    .vishid {
        visibility: hidden;
    }
}


// Clippy card
// ---
//

.c-clippy__card {
    border-radius: 25px;
    color: $neutral-50;
    background-color: #fff;
}


// Clippy agent
// ---
//
// 1. When switching between animations, there are a couple frames where Clippy shrinks

.c-clippy__agent {
    min-width: 125px; // 1
}
