// Notification
// ===

$notification__duration: 0.4s;
$notification__easing: cubic-bezier(0.45, 0.1, 0.5, 1);


// Root
// ---
//
// 1. Slight increase of height transition duration to give the staggered collapse animation

.c-notification {
    display: flex;
    overflow: hidden;
    margin-bottom: $unit/2;

    background: rgba($brand-color, 0.9);

    color: $neutral-10;

    transform-origin: left top;

    transition: height $notification__duration*2 $notification__easing; // 1
    animation: visibility-show $notification__duration 1 forwards;
}


// Action
// ---

.c-notification__action {
    align-self: flex-start;
}


// State: Dismissing
// ---
//
// 1. Override inline styles to collapse notification
// 2. Prevent contents from leaking out

.c-notification.c--dismissing {
    overflow: hidden; // 2
    height: 0 !important; // 1
    margin: 0;

    animation: visibility-hide $notification__duration 1 forwards;
}
