// ChatWindow
// ===
//
// Component description here

$clippy-message-color: #fa5ad0;

// ChatWindow root
// ---

.c-chat-window {

}


// Chat Message Container
// ---
// 

.c-chat-window__message-container {
    min-width: 50%;
    max-width: 85%;
}


// Chat Message
// ---
// 

.c-chat-window__message {
    padding: $unit*1.5 $unit*2;

    &.c--clippy {
        background-color: $clippy-message-color;
        color: $neutral-10;
    }

    &.c--user {
        background-color: $neutral-10;
        color: $neutral-50;
    }
}


// Chat Message Product Image
// ---
// 

.c-chat-window__product-image {
    max-width: 100px;
}
