// ChatWindow
// ===
//
// Component description here
// Variables
// ---
// ChatWindow root
// ---

.c-chat-window {
    .c-sheet__content {
        background-color: #4e439b;
    }

    .sendClippyMessage {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .clippyMessage {
        background-color: #fa5ad0;
        padding: 15px;
        margin: 15px;
        font-size: 16px;
        width: 50%;
        left: 0;
        color: #fff;
    }

    .fromUser {
        background-color: #fff;
        padding: 15px;
        border-radius: 5%;
        margin: 15px;
        font-size: 16px;
        width: 50%;
        color: #333;
    }

    .messageWrapperClippy {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    .messageWrapperUser {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
}
// Modifiers
// ---
//
// .c-chat-window.c--modifier {
//     ...
// }
// Sub components
// ---
//
// .c-chat-window__sub-component {
//     ...
// }
