// Color
// ===

// Neutral Colors
// ---

.u-color-neutral-30 {
    color: $neutral-30;

    fill: $neutral-30;
}

.u-color-neutral-40 {
    color: $neutral-40;

    fill: $neutral-40;
}

.u-color-neutral-50 {
    color: $neutral-50;

    fill: $neutral-50;
}

.u-color-neutral-60 {
    color: $neutral-60;

    fill: $neutral-60;
}

.u-color-neutral-70 {
    color: $neutral-70;

    fill: $neutral-70;
}


// Other Colors
// ---

.u-color-brand {
    color: $brand-color;

    fill: $brand-color;
}

.u-color-accent {
    color: $accent-color;

    fill: $accent-color;
}

.u-color-success {
    color: $success-color;

    fill: $success-color;
}

.u-color-error {
    color: $error-color;

    fill: $error-color;
}


// Background Colors
// ---

.u-bg-color-neutral-30 {
    background-color: $neutral-30;
}

.u-bg-color-error {
    background-color: $error-color;
}

.u-bg-color-light-error {
    background-color: $light-error-color;
}
