// Color
// ===

// Neutral Colors
// ---

.u-color-neutral-30 {
    color: $neutral-30;
}

.u-color-neutral-40 {
    color: $neutral-40;
}

.u-color-neutral-50 {
    color: $neutral-50;
}

.u-color-neutral-60 {
    color: $neutral-60;
}

.u-color-neutral-70 {
    color: $neutral-70;
}


// Other Colors
// ---

.u-color-brand {
    color: $neutral-60;
}

.u-color-accent {
    color: $neutral-50;
}

.u-color-success {
    color: $neutral-30;
}

.u-color-error {
    color: $neutral-40;
}
