// Margin
// ===

// Miscellanous
// ---

.u-margin-0 {
    @include margin-0(true);
}

.u-margin-center {
    @include margin-center(true);
}


// Vertical Margins
// ---
//
// Granular control over vertical spacing independent of a component. Includes
// values based on global spacing.
//
// Suffixes:
// 0:  none
// sm: small
// md: medium
// lg: large

.u-margin-top {
    @include margin-top(true); // x1
}

.u-margin-top-0 {
    @include margin-top-0(true);
}

.u-margin-top-sm {
    @include margin-top-sm(true); // x0.5
}

.u-margin-top-md {
    @include margin-top-md(true); // x1.5
}

.u-margin-top-lg {
    @include margin-top-lg(true); // x2
}

.u-margin-bottom {
    @include margin-bottom(true); // x1
}

.u-margin-bottom-0 {
    @include margin-bottom-0(true);
}

.u-margin-bottom-sm {
    @include margin-bottom-sm(true); // x0.5
}

.u-margin-bottom-md {
    @include margin-bottom-md(true); // x1.5
}

.u-margin-bottom-lg {
    @include margin-bottom-lg(true); // x2
}


// Horizontal Margins
// ---
//
// Granular control over horizontal spacing independent of a component. Includes
// values based on global spacing, and adds values based on relative typographic
// sizes.
//
// `start` and `end` are writing-direction independent forms for `left` and
// `right`. For right-to-left localizations, create an alternate version of this
// stylesheet with the property directions reversed.
//
// Suffixes:
//
// 0:  none
// th: thick space (about 1.5× a “normal” word space)
// en: en space (half an em)
// em: em space
// sm: small
// md: medium
// lg: large

.u-margin-start {
    @include margin-start(true); // x1
}

.u-margin-start-0 {
    @include margin-start-0(true);
}

.u-margin-start-th {
    @include margin-start-th(true); // 0.333em
}

.u-margin-start-en {
    @include margin-start-en(true); // 0.5em
}

.u-margin-start-em {
    @include margin-start-em(true); // 1em
}

.u-margin-start-sm {
    @include margin-start-sm(true); // x0.5
}

.u-margin-start-md {
    @include margin-start-md(true); // x1.5
}

.u-margin-start-lg {
    @include margin-start-lg(true); // x2
}

.u-margin-end {
    @include margin-end(true); // x1
}

.u-margin-end-0 {
    @include margin-end-0(true);
}

.u-margin-end-th {
    @include margin-end-th(true); // 0.333em
}

.u-margin-end-en {
    @include margin-end-en(true); // 0.5em
}

.u-margin-end-em {
    @include margin-end-em(true); // 1em
}

.u-margin-end-sm {
    @include margin-end-sm(true); // x0.5
}

.u-margin-end-md {
    @include margin-end-md(true); // x1.5
}

.u-margin-end-lg {
    @include margin-end-lg(true); // x2
}
