// Text utils
// ===

// All Caps
// ---
//
// Set text uppercase, letterspaced for legibility.

.u-text-all-caps {
    @include text-all-caps(true);
}


// Capitalize Text
// ---
//
// Capitalize first letter of string.

.u-text-capitalize {
    @include text-capitalize(true);
}


// Lowercase Text
// ---
//
// Lowercase all text in string.

.u-text-uppercase {
    text-transform: uppercase !important; // @TODO: add to Spline
}


// Lowercase Text
// ---
//
// Lowercase all text in string.

.u-text-lowercase {
    @include text-lowercase(true);
}


// Text Flow Alignment
// ---
//
// Writing-direction independent text alignment. For RTL stylesheets, re-define
// these styles with the opposite direction. Templates need not be changed.

.u-text-align-start {
    @include text-align-start(true);
}

.u-text-align-center {
    @include text-align-center(true);
}

.u-text-align-end {
    @include text-align-end(true);
}


// Vertical Alignment
// ---
//
// Vertical aligment of text and replaced (inline-block) elements within a line.

.u-align-middle {
    @include align-middle(true);
}

.u-align-baseline {
    @include align-baseline(true);
}


// Weights & Style
// ---

.u-text-normal {
    @include text-normal(true);
}

.u-text-bold {
    @include text-bold(true);
}

.u-text-italic {
    @include text-italic(true);
}

.u-text-quiet {
    @include text-quiet(true);
}


// Size
// ---

// .u-text-small {
//     @include text-normal(true);
// }
//
.u-text-medium {
    font-size: 24px;
}

.u-text-large {
    font-size: $header-font-size;
}


// Color
// ---

.u-text-accent {
    color: $accent-color;
}


// Font-Family
// ---

.u-text-header-font {
    font-family: $header-font-family;
    letter-spacing: 1px;
}
