// Grid
// ===
//
.c-grid {
    @include clearfix();
}

// Grid Item
// ---

.c-grid__item {
    min-height: 160px;
    margin-bottom: 8px;
    padding: 8px;

    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);

    color: black;

    .c--skeleton {
        padding: 10px 0;
    }

    .c--skeleton-text {
        color: #333;
        font-size: 20px;
        line-height: 24px;
    }
}

.c-grid__item:last-of-type {
    margin-bottom: 0;
}

.c-grid__item-name {
    padding: 16px 0 24px;

    color: black;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.24;
    text-transform: uppercase;
    word-break: break-word;
}

.c-grid__item-price {
    color: #df0037;
    font-size: 16px;
    padding-bottom: 16px;
}
