{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ]
}
